IBM Deployment of Churn Modeling/ANN Churn modelling.json
[{"id":"454b7085.6a496","type":"tab","label":"ANN Flow","disabled":false,"info":""},{"id":"175fc89.7434937","type":"function","z":"454b7085.6a496","name":"PreToken","func":"\nglobal.set(\"cscore\",msg.payload.cscore)\nglobal.set(\"age\",msg.payload.age)\nglobal.set(\"dur\",msg.payload.dur)\nglobal.set(\"bal\",msg.payload.bal)\nglobal.set(\"prod\",msg.payload.prod)\nglobal.set(\"sal\",msg.payload.sal)\nvar apikey=\"YEL-2znnNyDyaErzB4Tr2USCdO9KEyPfYOPEscXDovPo\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":220,"y":320,"wires":[["69872e31.843ac"]]},{"id":"69872e31.843ac","type":"http request","z":"454b7085.6a496","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":454,"y":305,"wires":[["567f8c47.4fcfd4","a565d105.b7f34"]]},{"id":"4e4c404e.2f00e","type":"inject","z":"454b7085.6a496","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100.5,"y":230.00000286102295,"wires":[[]]},{"id":"a565d105.b7f34","type":"function","z":"454b7085.6a496","name":"Pre Prediction","func":"\nvar cscore = global.get('cscore')\nvar age = global.get('age')\nvar dur = global.get('dur')\nvar bal = global.get('bal')\nvar prod = global.get('prod')\nvar sal = global.get('sal')\nvar geo1 = global.get('geo1')\nvar geo2 = global.get('geo2')\nvar gen = global.get('gen')\nvar ccard = global.get('ccard')\nvar work = global.get('work')\nvar token=msg.payload.access_token\nvar instance_id=\"85044b4e-3cfe-4a49-a4b7-3a6fafc2b2b0\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload= {\"fields\": [\"s1\", \"s2\", \"CreditScore\", \"Gender\", \"Age\", \"Tenure\", \"Balance\", \"NumOfProducts\", \"HasCrCard\", \"IsActiveMember\", \"EstimatedSalary\"],\"values\": [[geo1,geo2,cscore,gen,age,dur,bal,prod,ccard,work,sal]]}\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":240,"wires":[["3cd129b0.b4c986"]]},{"id":"3cd129b0.b4c986","type":"http request","z":"454b7085.6a496","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/85044b4e-3cfe-4a49-a4b7-3a6fafc2b2b0/deployments/c87274d8-e4aa-4b53-8da3-3155e4dd46ca/online","tls":"","persist":false,"proxy":"","authType":"","x":730,"y":160,"wires":[["480fdded.0edad4","2a9f9d19.0c8992"]]},{"id":"2eb16f6e.dd04b","type":"ui_form","z":"454b7085.6a496","name":"","label":"","group":"cf3fd2e4.d8905","order":0,"width":0,"height":0,"options":[{"label":"Credit Score:","value":"cscore","type":"number","required":true,"rows":null},{"label":"Age:","value":"age","type":"number","required":true,"rows":null},{"label":"Tenure:","value":"dur","type":"text","required":true,"rows":null},{"label":"Balance:","value":"bal","type":"number","required":true,"rows":null},{"label":"Number of Products:","value":"prod","type":"number","required":true,"rows":null},{"label":"Estimated Salary:","value":"sal","type":"number","required":true,"rows":null}],"formValue":{"cscore":"","age":"","dur":"","bal":"","prod":"","sal":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":320,"wires":[["72508ac0.ef39e4","175fc89.7434937"]]},{"id":"72508ac0.ef39e4","type":"debug","z":"454b7085.6a496","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":210,"y":400,"wires":[]},{"id":"47797437.ea066c","type":"ui_dropdown","z":"454b7085.6a496","name":"","label":"Country","tooltip":"","place":"Select option","group":"cf3fd2e4.d8905","order":1,"width":0,"height":0,"passthru":true,"multiple":true,"options":[{"label":"France","value":"France","type":"str"},{"label":"Spain","value":"Spain","type":"str"},{"label":"Germany","value":"Germany","type":"str"}],"payload":"","topic":"","x":180,"y":460,"wires":[["2c2ce1da.08547e"]]},{"id":"590070b7.4d8ea","type":"debug","z":"454b7085.6a496","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":460,"wires":[]},{"id":"2c2ce1da.08547e","type":"function","z":"454b7085.6a496","name":"PreToken","func":"if(msg.payload == \"France\"){\n    global.set(\"geo1\",0)\n    global.set(\"geo2\",0)\n}\nif(msg.payload == \"Spain\"){\n    global.set(\"geo1\",0)\n    global.set(\"geo2\",1)\n}\nif(msg.payload == \"Germany\"){\n    global.set(\"geo1\",1)\n    global.set(\"geo2\",0)\n}\n\nreturn msg","outputs":1,"noerr":0,"x":380,"y":460,"wires":[["590070b7.4d8ea"]]},{"id":"567f8c47.4fcfd4","type":"debug","z":"454b7085.6a496","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":650,"y":360,"wires":[]},{"id":"1a3aeec1.b941d1","type":"ui_dropdown","z":"454b7085.6a496","name":"","label":"Gender","tooltip":"","place":"Select option","group":"cf3fd2e4.d8905","order":2,"width":0,"height":0,"passthru":true,"multiple":true,"options":[{"label":"Male","value":"Male","type":"str"},{"label":"Female","value":"Female","type":"str"}],"payload":"","topic":"","x":160,"y":520,"wires":[["1799bfdd.f67ec"]]},{"id":"51d1e83b.d78748","type":"ui_dropdown","z":"454b7085.6a496","name":"","label":"Credit Card:","tooltip":"","place":"Select option","group":"cf3fd2e4.d8905","order":0,"width":0,"height":0,"passthru":true,"multiple":true,"options":[{"label":"Has Credit Card","value":"1","type":"str"},{"label":"Does not have a Credit Card","value":"0","type":"str"}],"payload":"","topic":"","x":150,"y":580,"wires":[["44f3d352.49d50c"]]},{"id":"7baf4a61.0d23a4","type":"ui_dropdown","z":"454b7085.6a496","name":"","label":"Is active member","tooltip":"","place":"Select option","group":"cf3fd2e4.d8905","order":3,"width":0,"height":0,"passthru":true,"multiple":true,"options":[{"label":"Is Working","value":"1","type":"str"},{"label":"Is not Working","value":"0","type":"str"}],"payload":"","topic":"","x":170,"y":640,"wires":[["2f9a59f6.7f0296"]]},{"id":"82b18552.1bb2c8","type":"debug","z":"454b7085.6a496","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":520,"wires":[]},{"id":"1799bfdd.f67ec","type":"function","z":"454b7085.6a496","name":"PreToken","func":"if(msg.payload == \"Male\"){\n   global.set(\"gen\",1)\n}\nif(msg.payload == \"Female\"){\n   global.set(\"gen\",0)\n}\n","outputs":1,"noerr":0,"x":380,"y":520,"wires":[["82b18552.1bb2c8"]]},{"id":"fbad7edd.0e7","type":"debug","z":"454b7085.6a496","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":630,"y":580,"wires":[]},{"id":"44f3d352.49d50c","type":"function","z":"454b7085.6a496","name":"PreToken","func":"global.set(\"ccard\",msg.payload)\n","outputs":1,"noerr":0,"x":400,"y":580,"wires":[["fbad7edd.0e7"]]},{"id":"91beae5e.2efa2","type":"debug","z":"454b7085.6a496","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":630,"y":640,"wires":[]},{"id":"2f9a59f6.7f0296","type":"function","z":"454b7085.6a496","name":"PreToken","func":"global.set(\"work\",msg.payload)","outputs":1,"noerr":0,"x":400,"y":640,"wires":[["91beae5e.2efa2"]]},{"id":"480fdded.0edad4","type":"debug","z":"454b7085.6a496","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":830,"y":300,"wires":[]},{"id":"ee8b8712.4dd618","type":"ui_text","z":"454b7085.6a496","group":"cf3fd2e4.d8905","order":1,"width":0,"height":0,"name":"","label":"Exit prediction","format":"{{msg.payload}}","layout":"row-spread","x":1140,"y":140,"wires":[]},{"id":"2a9f9d19.0c8992","type":"function","z":"454b7085.6a496","name":"","func":"msg.payload == msg.payload.values[0][0][0]\n\nreturn  msg;","outputs":1,"noerr":0,"x":930,"y":200,"wires":[["64b9ed41.f670a4","ee8b8712.4dd618"]]},{"id":"64b9ed41.f670a4","type":"debug","z":"454b7085.6a496","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1110,"y":300,"wires":[]},{"id":"cf3fd2e4.d8905","type":"ui_group","z":"","name":"Churn Modelling using ibm","tab":"35cb01c2.856e0e","order":1,"disp":true,"width":"6","collapse":false},{"id":"35cb01c2.856e0e","type":"ui_tab","z":"","name":"churn modelling using ibm","icon":"dashboard","disabled":false,"hidden":false}]