node red/Using 50 startup csv file.json
[{"id":"8c2bb363.854","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"b2aeef07.c5f0d","type":"function","z":"8c2bb363.854","name":"PreToken","func":"global.set(\"ms\",msg.payload.ms)\nglobal.set(\"ad\",msg.payload.ad)\nglobal.set(\"rs\",msg.payload.rs)\nvar apikey=\"YEL-2znnNyDyaErzB4Tr2USCdO9KEyPfYOPEscXDovPo\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":340,"wires":[["4ed09022.dd6a9"]]},{"id":"4ed09022.dd6a9","type":"http request","z":"8c2bb363.854","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":454,"y":305,"wires":[["247a0035.79dac","aab1ac05.9b543"]]},{"id":"d55a79cd.af8bf8","type":"debug","z":"8c2bb363.854","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":893.0000114440918,"y":47.00000190734863,"wires":[]},{"id":"aab1ac05.9b543","type":"function","z":"8c2bb363.854","name":"Pre Prediction","func":"var ms = global.get('ms')\nvar ad = global.get('ad')\nvar rs = global.get('rs')\nvar s = global.get('s')\nvar token=msg.payload.access_token\nvar instance_id=\"85044b4e-3cfe-4a49-a4b7-3a6fafc2b2b0\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload= {\"input_data\": [{\"fields\": [\"R&D Spend\", \"Administration\", \"Marketing Spend\", \"State\"],\"values\": [[ms,ad,rs,s]]}]}\nreturn msg;","outputs":1,"noerr":0,"x":651.0000076293945,"y":268.00000381469727,"wires":[["a31c6bba.4be6e8"]]},{"id":"a31c6bba.4be6e8","type":"http request","z":"8c2bb363.854","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/41f8fd52-248b-47f7-b026-d5086e916122/predictions","tls":"","persist":false,"proxy":"","authType":"","x":744.5000076293945,"y":212.00000381469727,"wires":[["52b911f2.7856b","7887a0e8.3fac3"]]},{"id":"eeee1dce.98cef","type":"ui_form","z":"8c2bb363.854","name":"","label":"","group":"dc7af528.263ff8","order":0,"width":0,"height":0,"options":[{"label":"amount of marketing","value":"ms","type":"number","required":true,"rows":null},{"label":"amount of admin","value":"ad","type":"number","required":false,"rows":null},{"label":"amount of research","value":"rs","type":"number","required":false,"rows":null}],"formValue":{"ms":"","ad":"","rs":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":46,"y":359,"wires":[["2b8571fb.fddfee","b2aeef07.c5f0d"]]},{"id":"7887a0e8.3fac3","type":"function","z":"8c2bb363.854","name":"","func":"msg.payload = msg.payload.predictions[0].values[0][0][0]\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":180,"wires":[["badf13f7.e2a5d"]]},{"id":"2b8571fb.fddfee","type":"debug","z":"8c2bb363.854","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":200,"y":460,"wires":[]},{"id":"e12deb9.b1b6118","type":"ui_dropdown","z":"8c2bb363.854","name":"","label":"","tooltip":"","place":"Select option","group":"dc7af528.263ff8","order":2,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Newyork","value":"Newyork","type":"str"},{"label":"London","value":"London","type":"str"},{"label":"Florida","value":"Florida","type":"str"}],"payload":"","topic":"","x":200,"y":560,"wires":[["f9576162.e09e5"]]},{"id":"5a32954b.d7ef2c","type":"debug","z":"8c2bb363.854","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":570,"y":560,"wires":[]},{"id":"f9576162.e09e5","type":"function","z":"8c2bb363.854","name":"PreToken","func":"global.set(\"s\",msg.payload)\n","outputs":1,"noerr":0,"x":400,"y":520,"wires":[["5a32954b.d7ef2c"]]},{"id":"247a0035.79dac","type":"debug","z":"8c2bb363.854","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":580,"y":400,"wires":[]},{"id":"52b911f2.7856b","type":"debug","z":"8c2bb363.854","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":880,"y":280,"wires":[]},{"id":"badf13f7.e2a5d","type":"debug","z":"8c2bb363.854","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1150,"y":180,"wires":[]},{"id":"dc7af528.263ff8","type":"ui_group","z":"","name":"Profit prediction","tab":"ed684d7a.84de","order":1,"disp":true,"width":"6","collapse":false},{"id":"ed684d7a.84de","type":"ui_tab","z":"","name":"ML model","icon":"dashboard","disabled":false,"hidden":false}]